.introduce {
  display: flex;
  height: calc(100svh - 40px);
  gap: 25px;
  overflow: hidden;
}
.introduce > div:nth-child(1) {
  flex: 1.35;
  padding: 5svh 0px 5svh 5svh;
}
.introduce > div:nth-child(3) {
  flex: 1;
  padding: 10svh 5svh 5svh 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduce > hr {
  margin: auto;
  border: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  height: 85%;
}

.coverImage {
  height: 100%;
  border: 1px solid #424242;
  display: flex;
}
.coverImage > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.introduceText {
  display: flex;
  flex-direction: column;
  word-break: keep-all;
  transform: translateY(-25%);
  text-align: center;
  gap: 15px;
}
.introduceText h1 {
  font-size: 24px;
}
.introduceText p:nth-last-child(1) {
  font-size: 12px;
}

.merit {
  margin-top: 200px;
}

.inspiringText {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px 10px;
}
.inspiringText hr {
  border: 1px solid dimgray;
}
.inspiringText h1 {
  padding: 2.5px 15px;
  font-size: 20px;
}

.advantages {
  margin: auto;
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  gap: 20px;
}
.advantages > div {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.advantages > div > img {
  opacity: 0.8;
  width: 75%;
  height: 75%;
}

.advantageTitle {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.advantageTitle h1 {
  font-size: 18px;
}
.advantageTitle hr {
  width: 20px;
  border: 0px;
  border-bottom: 1px solid dimgray;
}
.advantageTitle p {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .introduce {
    height: auto;
    flex-direction: column;
    padding: 10px;
  }
  .introduce > div:nth-child(1) {
    flex: auto;
    padding: 5svh 0px 0px 3svh;
    height: 35svh;
  }
  .introduce > div:nth-child(3) {
    flex: auto;
    padding: 0px 3svh 5svh 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .introduce > hr {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    width: 85%;
  }

  .introduceText {
    transform: none;
    text-align: start;
  }

  .merit {
    margin-top: 150px;
  }

  .advantages {
    margin-top: 50px;
    flex-direction: column;
  }
  .advantages > div {
    aspect-ratio: 2/1;
  }
}