.guide {
  margin: auto;
  margin-top: 150px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map {
  width: 100%;
  height: 600px;
  max-width: calc(100% - 50px);
  position: relative;
  display: flex;
  background-color: aqua;
}
.naver {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.35);
}
.cover {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.inform {
  margin-top: 50px;
  display: flex;
  width: 100%;
  max-width: calc(100% - 50px);
  height: 100%;
}
.inform > div {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inform > div:nth-child(1) {
  border-left: 2px solid #636363;
}
.inform > div:nth-child(3) {
  border-right: 2px solid #636363;
}
.inform > hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .guide {
    margin-top: 10svh;
    padding: 0px 10px;
  }
  .map {
    height: 350px;
    max-width: calc(100% - 15px);
  }

  .inform {
    margin-top: 25px;
    max-width: calc(100% - 15px);
    flex-direction: column;
  }
  .inform > div:nth-child(1) {
    border-top: 2px solid #636363;
    border-left: none;
  }
  .inform > div:nth-child(3) {
    border-bottom: 2px solid #636363;
    border-right: none;
  }
}