.summary {
  margin: auto;
  margin-top: 200px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspiringText {
  display: flex;
  text-align: center;
}
.inspiringText hr {
  border: 1px solid dimgray;
}
.inspiringText h1 {
  padding: 2.5px 15px;
  font-size: 20px;
}

.inspiringSights {
  margin-top: 100px;
  width: 100%;
  max-width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}
.inspiringSights hr {
  border: 0;
  border-bottom: 1px solid dimgray;
}

.sampleImages {
  height: 600px;
  display: flex;
  align-items: flex-end;
}
.sampleImages > div {
  flex: 1;
  height: 100%;
  display: flex;
}
.sampleImages > div:nth-child(1) {
  height: 75%;
}
.sampleImages > div:nth-child(2) {
  height: 100%;
}
.sampleImages > div:nth-child(3) {
  height: 70%;
}
.sampleImages > div:nth-child(4) {
  height: 95%;
}
.sampleImages img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.actionButtons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.actionButtons button {
  opacity: 0.3;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  transition: all 100ms;
}
.actionButtons button:nth-child(1) {
  background-color: black;
  color: white;
}
.actionButtons button:nth-child(2) {
  background-color: transparent;
}

@media (hover:hover) {
  .actionButtons button:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .summary {
    margin-top: 150px;
    padding: 0px 10px;
  }

  .inspiringSights {
    max-width: calc(100% - 15px);
  }

  .sampleImages {
    height: 250px;
  }

  .actionButtons button {
    opacity: 1;
  }
}