.introduce {
  margin-top: 5svh;
  padding-bottom: calc(5vh + 40px);
  height: calc(50svh - 10svh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}
.introduce h1 {
  color: white;
}
.introduce p {
  color: white;
}
.introduce img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.35);
  width: 100%;
  height: 50svh;
  object-fit: cover;
}

.zipperVariety {
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspiringText {
  display: flex;
  justify-content: center;
  border-left: 2px solid dimgray;
  border-right: 2px solid dimgray;
}
.inspiringText h1 {
  padding: 2.5px 15px;
  font-size: 20px;
}

.variousZippers {
  margin-top: 50px;
  width: calc(100% - 20px);
  max-width: 1000px;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 50px 35px;
}

.deck {
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}
.deck:nth-last-child(1) {
  grid-column: 2;
}
.deck > img {
  width: 100%;
  height: auto;
}
.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}
.title > div {
  padding: 5px;
}

.zipperShape {
  margin: auto;
  margin-top: 150px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(252, 240, 233, 0.5);
}

.imaginaryZipper {
  margin-top: 100px;
  width: calc(100% - 50px);
  max-width: 800px;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.35);
}
.imaginaryZipper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.detail {
  z-index: 1;
  width: calc(100% - 20px);
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  background-color: #1f2233;
}
.detail > div {
  width: 100%;
  max-width: 900px;
}
.detail p {
  color: white;
}

.puller {
  margin: auto;
  margin-top: 100px;
  height: 75svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.artisticPuller {
  z-index: -1;
  position: absolute;
  display: flex;
  max-height: 50svh;
}
.artisticPuller:nth-child(2) {
  top: 0;
  right: 0;
  width: 35%;
  aspect-ratio: 1/0.75;
}
.artisticPuller:nth-child(3) {
  top: 50;
  left: 0;
  width: 50%;
  aspect-ratio: 1/1.5;
}
.artisticPuller:nth-child(4) {
  bottom: 0;
  left: 75;
  width: 42.5%;
  aspect-ratio: 1/1;
}
.artisticPuller > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .introduce {
    margin: 0;
    height: 65svh;
    padding-bottom: 0px;
  }
  .introduce > img {
    height: 65svh;
  }

  .zipperVariety {
    margin-top: 150px;
  }

  .variousZippers {
    grid-template-columns: repeat(2, auto);
    gap: 35px 15px;
  }

  .deck:nth-last-child(1) {
    grid-column: 1;
  }

  .zipperShape {
    margin-top: 100px;
  }

  .detail {
    padding: 20px 10px;
  }

  .puller {
    margin-top: 50px;
    height: 65svh;
  }

  .artisticPuller:nth-child(2) {
    top: 10%;
    right: 0;
    width: 37.5%;
    aspect-ratio: 1/0.75;
  }
  .artisticPuller:nth-child(3) {
    top: 15%;
    left: 0;
    width: 60.5%;
    aspect-ratio: 1/1.5;
  }
  .artisticPuller:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 77.5%;
    /* aspect-ratio: 1/1.35; */
  }
}