.counsel {
  margin: auto;
  margin-top: 150px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.counsel > div {
  width: calc(100% - 50px);
  border-top: 2px solid #636363;
  border-bottom: 2px solid #636363;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 0px;
  gap: 5px;
}
.contact h1 {
  font-size: 28px;
}
.contact p {
  font-size: 14px;
}
.methods {
  display: flex;
  gap: 20px;
  padding: 0px 10px 20px;
}
.methods button {
  opacity: 0.2;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px dashed #949494;
  background-color: transparent;
  transition: all 100ms;
}

.survey table {
  width: 100%;
  border-collapse: collapse;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: none;
  border-right: none;
}
.item:nth-child(1) {
  border-top: none;
}
.item:nth-last-child(1) {
  border-bottom: none;
}
.item th {
  display: flex;
  width: 150px;
  color: #424242;
  padding: 20px 10px;
  padding-bottom: 0px;
}
.item td {
  padding: 20px 10px;
  padding-top: 5px;
  display: flex;
  gap: 25px;
}
.item input[type="text"] {
  width: 250px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 16px;
  color: #424242;
  outline: none;
}
.item textarea {
  resize: vertical;
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 16px;
  color: #424242;
  outline: none;
}

.requestTitle {
  width: max(250px, 50%) !important;
}

.checkbox {
  display: flex;
  gap: 5px;
}
.checkbox > * {
  cursor: pointer;
}
.label {
  font-size: 14px;
  color: #424242;
  user-select: none;
}

.file {
  display: flex;
}
.file > input {
  display: none;
}
.file > label {
  opacity: 0.35;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
  padding: 5px 10px;
  border: 1px dashed #949494;
  text-align: center;
  transition: all 100ms;
}

.submitArea {
  border: none !important;
  display: flex;
}
.submitButton {
  margin-left: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #949494;
  background-color: transparent;
  transition: all 150ms;
}
.submitButton:disabled {
  cursor: not-allowed;
  opacity: 0.35;
}

@media (hover:hover) {
  .methods > button:hover {
    opacity: 1;
  }

  .file > label:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .counsel {
    margin-top: 10svh;
    padding: 0px 10px;
  }
  .counsel > div {
    width: 100%;
  }

  .requestTitle {
    width: 100% !important;
  }

  .methods > button {
    opacity: 1;
  }
}